In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the dataset
file_path = '../data/case_study_sample_dataset.gzip'
dataset = pd.read_parquet(file_path)

In [5]:
# Convert the dataset to CSV format
csv_file_path = '../data/case_study_sample_dataset.csv'
dataset.to_csv(csv_file_path, index=False)
print(f"Dataset successfully converted to CSV and saved at {csv_file_path}")

Dataset successfully converted to CSV and saved at ../data/case_study_sample_dataset.csv

In [4]:
# Reload the dataset from CSV for analysis
df = pd.read_csv(csv_file_path)

In [6]:
# Print the size of the DataFrame
print(f"The DataFrame has {df.shape[0]} rows and {df.shape[1]} columns.")

The DataFrame has 3246507 rows and 9 columns.

In [7]:
# Display the first few rows to understand the structure
print("First few rows of the dataset:")
df.head()

First few rows of the dataset:

,index,test_time,cycle_index,cell_index,voltage,discharge_capacity,current,internal_resistance,temperature
0,834355,1801.8327,0.0,2017-05-12_5_4C-50per_3C_CH13,3.291040,0.000016,-0.450999,0.021151,29.973852
1,834356,1811.8329,0.0,2017-05-12_5_4C-50per_3C_CH13,3.281339,0.001570,-0.559847,0.021151,30.012213
2,834357,1821.8363,0.0,2017-05-12_5_4C-50per_3C_CH13,3.277671,0.003125,-0.559859,0.021151,29.995052
3,834358,1831.8373,0.0,2017-05-12_5_4C-50per_3C_CH13,3.275081,0.004680,-0.559828,0.021151,29.981087
4,834359,1841.8468,0.0,2017-05-12_5_4C-50per_3C_CH13,3.273016,0.006237,-0.559821,0.021151,30.000351

In [8]:
# Display basic info about the dataset (e.g., column types, missing values)
print("\nDataset Info:")
df.info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3246507 entries, 0 to 3246506
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   index                int64
 1   test_time            float64
 2   cycle_index          float64
 3   cell_index           object
 4   voltage              float64
 5   discharge_capacity   float64
 6   current              float64
 7   internal_resistance  float64
 8   temperature          float64
dtypes: float64(7), int64(1), object(1)
memory usage: 222.9+ MB

In [9]:
# Check for missing values in each column
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
index                  0
test_time              0
cycle_index            0
cell_index             0
voltage                0
discharge_capacity     0
current                0
internal_resistance    0
temperature            0
dtype: int64

In [10]:
# Display statistical summary of numerical columns
print("\nStatistical summary of numerical columns:")
df.describe()

Statistical summary of numerical columns:

,index,test_time,cycle_index,voltage,discharge_capacity,current,internal_resistance,temperature
count,3.246507e+06,3.246507e+06,3.246507e+06,3.246507e+06,3.246507e+06,3.246507e+06,3.246507e+06,3.246507e+06
mean,6.489080e+06,1.696320e+05,3.528092e+02,2.801509e+00,6.463740e-01,-2.569222e+00,1.739771e-02,3.290376e+01
std,5.301643e+06,1.704525e+05,3.281495e+02,4.690325e-01,3.380258e-01,2.081012e+00,1.457385e-03,2.732549e+00
min,8.343550e+05,0.000000e+00,0.000000e+00,1.988390e+00,0.000000e+00,-4.408104e+00,0.000000e+00,2.461202e+01
25%,1.645982e+06,1.026758e+04,0.000000e+00,2.413094e+00,4.980011e-01,-4.400026e+00,1.659088e-02,3.014927e+01
50%,6.891365e+06,1.370401e+05,2.970000e+02,3.022973e+00,5.984044e-01,-4.399726e+00,1.697572e-02,3.269007e+01
75%,1.231099e+07,2.772040e+05,6.100000e+02,3.142839e+00,9.771983e-01,-1.100047e-01,1.731287e-02,3.510753e+01
max,1.677897e+07,9.103222e+05,1.226000e+03,4.623832e+00,2.884083e+00,-2.384186e-07,2.156725e-02,4.147976e+01

Numerical Variables

In [11]:
# list of numerical variables
numerical_features = [feature for feature in df.columns if df[feature].dtypes != 'O']

print('Number of numerical variables: ', len(numerical_features))

# visualise the numerical variables
df[numerical_features].head()

Number of numerical variables:  8

,index,test_time,cycle_index,voltage,discharge_capacity,current,internal_resistance,temperature
0,834355,1801.8327,0.0,3.291040,0.000016,-0.450999,0.021151,29.973852
1,834356,1811.8329,0.0,3.281339,0.001570,-0.559847,0.021151,30.012213
2,834357,1821.8363,0.0,3.277671,0.003125,-0.559859,0.021151,29.995052
3,834358,1831.8373,0.0,3.275081,0.004680,-0.559828,0.021151,29.981087
4,834359,1841.8468,0.0,3.273016,0.006237,-0.559821,0.021151,30.000351

In [12]:
# List of categorical variables
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# Print the number of categorical variables
print('Number of categorical variables: ', len(categorical_features))
# Visualize the categorical variables
df[categorical_features].head()

Number of categorical variables:  1

                      cell_index
0  2017-05-12_5_4C-50per_3C_CH13
1  2017-05-12_5_4C-50per_3C_CH13
2  2017-05-12_5_4C-50per_3C_CH13
3  2017-05-12_5_4C-50per_3C_CH13
4  2017-05-12_5_4C-50per_3C_CH13

In [13]:
# Find unique categories in each categorical variable
unique_categories = {feature: df[feature].unique() for feature in categorical_features}

# Print the unique categories for each categorical variable
for feature, categories in unique_categories.items():
    print(f'Unique categories in {feature}: {categories}')

Unique categories in cell_index: ['2017-05-12_5_4C-50per_3C_CH13' '2017-05-12_5_4C-50per_3C_CH14'
 '2017-05-12_5_4C-70per_3C_CH17' '2017-05-12_4C-80per_4C_CH6'
 '2017-05-12_5_4C-40per_3_6C_CH20' '2017-05-12_6C-40per_3_6C_CH33']

In [14]:
print("\nNumerical Features:", numerical_features)
print("Categorical Features:", categorical_features)

Numerical Features: ['index', 'test_time', 'cycle_index', 'voltage', 'discharge_capacity', 'current', 'internal_resistance', 'temperature']
Categorical Features: ['cell_index']